.Players {
    position: absolute;
    width: 400px;
    right: 0;
    top: 50px;
    padding: 5px;
    /*border: solid 1px red;*/
}

.Player {
    position: relative;
    display: inline-block;
    height: 30px;
    text-align: left;
    border: 2px solid #016b8c;
    padding: 3px 10px 3px 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.PlayerTreasures {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /*top: -4px;*/
    right: 10px;
    width: 200px;
    height: 40px;
    text-align: right;
    /*border: solid 1px gold;*/
    z-index: 0;
}

.PlayerScore{
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 30px;
    height: 25px;
    /*border: solid 1px blue;*/
}

.PlayerScoreValue{
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    font-size: larger;
    font-weight: bolder;
    /*font-size: x-large;*/
    width: 30px;
    line-height: 25px;
    text-align: center;
    /*border: solid 1px red;*/
}

.PlayerName{
    display: inline-block;
    vertical-align: middle;
    width: 130px;
    text-align: center;
    /*border: solid 1px red;*/
}

.player-text {
    font-size: larger;
    font-weight: bolder;
    letter-spacing: 0.1em;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    -webkit-font-smoothing: antialiased;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animate-glow {
    font-size: x-large;
    animation: glow 1.0s 2 alternate ease-in-out;
    /*animation: glow 1s infinite alternate ease-in-out;*/
}

@keyframes glow {
    from {
        color: white;
        text-shadow: none;
    }
    to {
        color: yellow;
        text-shadow: 5px 5px 10px orangered, 5px -5px 10px orangered, -5px 5px 10px orangered, -5px -5px 10px orangered;
    }
}