/*iPad Pro 12 inch landscape*/
@media only screen
and (max-device-width: 2732px)
and (max-device-height: 2048px)
and (orientation: landscape) {
    body {
        zoom: 2.1;
    }
}

/*iPad Pro 12 inch tablet portrait*/
@media only screen
and (max-device-width: 2048px)
and (max-device-height: 2732px)
and (orientation: portrait) {
    body {
        zoom: 2.0;
    }
}

/*iPad Pro 11 inch landscape*/
@media only screen
and (max-device-width: 2388px)
and (max-device-height: 1668px)
and (orientation: landscape) {
    body {
        zoom: 1.7;
    }
}

/*iPad Pro 11 inch  portrait*/
@media only screen
and (max-device-width: 1668px)
and (max-device-height: 2388px)
and (orientation: portrait) {
    body {
        zoom: 1.50;
    }
}

/*iPad Pro 10 inch landscape*/
@media only screen
and (max-device-width: 2224px)
and (max-device-height: 1668px)
and (orientation: landscape) {
    body {
        zoom: 1.7;
    }
}

/*iPad Pro 10 inch  portrait*/
@media only screen
and (max-device-width: 1668px)
and (max-device-height: 2224px)
and (orientation: portrait) {
    body {
        zoom: 1.6;
    }
}

/*iPhone 11 pro max landscape*/
@media only screen
and (max-device-width: 2688px)
and (max-device-height: 1242px)
and (orientation: landscape) {
    body {
        zoom: 1.2;
    }
}

/*iPhone 11 pro max portrait*/
@media only screen
and (max-device-width: 1242px)
and (max-device-height: 2688px)
and (orientation: portrait) {
    body {
        zoom: 1.2;
    }
}

/*HD monitor*/
@media only screen
and (max-device-width: 1920px)
and (max-device-height: 1080px) {
    body {
        zoom: 1.0;
    }
}

/*iPad Pro landscape*/
@media only screen
and (max-device-width: 1366px)
and (max-device-height: 1024px)
and (orientation: landscape) {
    body {
        zoom: 1.0;
    }
}

/*iPad Pro portrait*/
@media only screen
and (max-device-width: 1024px)
and (max-device-height: 1366px)
and (orientation: portrait) {
    body {
        zoom: 0.85;
    }
}

/*Work monitor*/
@media only screen
and (max-device-width: 1600px)
and (max-device-height: 900px) {
    body {
        zoom: 0.9;
    }
}

/*Nexus 10 landscape*/
@media only screen
and (max-device-width: 1280px)
and (max-device-height: 800px)
and (orientation: landscape) {
    body {
        zoom: 0.85;
    }
}

/*Nexus 10 portrait*/
@media only screen
and (max-device-width: 800px)
and (max-device-height: 1280px)
and (orientation: portrait) {
    body {
        zoom: 0.7;
    }
}

/*iPad landscape*/
@media only screen
and (max-device-width: 1024px)
and (max-device-height: 768px)
and (orientation: landscape) {
    body {
        zoom: 0.8;
    }
}

/*iPad portrait*/
@media only screen
and (max-device-width: 768px)
and (max-device-height: 1024px)
and (orientation: portrait) {
    body {
        zoom: 0.7;
    }
}

/*Nexus 7 landscape*/
@media only screen
and (max-device-width: 960px)
and (max-device-height: 600px)
and (orientation: landscape) {
    body {
        zoom: 0.6;
    }
}

/*Nexus 7 portrait*/
@media only screen
and (max-device-width: 600px)
and (max-device-height: 960px)
and (orientation: portrait) {
    body {
        zoom: 0.55;
    }
}

/*iPhoneX landscape*/
@media only screen
and (max-device-width: 812px)
and (max-device-height: 375px)
and (orientation: landscape) {
    body {
        zoom: 0.37;
    }
}

/*iPhone Plus landscape*/
@media only screen
and (max-device-width: 736px)
and (max-device-height: 414px)
and (orientation: landscape) {
    body {
        zoom: 0.4;
    }
}

/*iPhone Plus portrait*/
@media only screen
and (max-device-width: 414px)
and (max-device-height: 736px)
and (orientation: portrait) {
    body {
        zoom: 0.4;
    }
}

/*iPhone landscape*/
@media only screen
and (max-device-width: 667px)
and (max-device-height: 375px)
and (orientation: landscape) {
    body {
        zoom: 0.38;
    }
}

/*iPhone portrait*/
@media only screen
and (max-device-width: 375px)
and (max-device-height: 667px)
and (orientation: portrait) {
    body {
        zoom: 0.35;
    }
}

/*old phones landscape*/
@media only screen
and (max-device-width: 320px)
and (orientation: landscape) {
    body {
        zoom: 0.3;
    }
}
